{%extends 'tem.html'%}
{% load humanize %}

{%block head%}
<style>
    #storename {
        font-size: 50px;
        color: black;
    }

    .product {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 800px;
        border: 3px solid #C05151;
        border-radius: 8px;
    }

    #price {
        font-size: 32px;
    }

    #available {
        color: red;
        text-align: right;
    }

    #btn {
        margin-top: 60px;
        width: 200px;
        height: 40px;
        font-size: 18px;
        font-weight: bolder;
        background-color: gray;
        border-radius: 8px;
        color: white;
        border: none;
    }
</style>
{%endblock%}

{%block contents%}

<div align="center" style="padding-top: 20px;">
    <div class="product">
        <table>
            <tr>
                <td colspan="3">
                    <small style="margin: 0; color: #B8B7B7;">롯데마트 {{store.storeName}}</small>
                    <p style="color: gray;"><b id="storename">{{store.name}}</b> &nbsp;&nbsp; {{store.category}}</p>
                </td>
            </tr>
            <tr style="border-bottom: 2px dashed #E88B8B;">
                <td style="padding-right: 70px; padding-bottom: 40px">
                    <img src="{{store.image.url}}" width="410px" height="300px" alt="상품 사진">
                </td>
                <td>
                    <p id="price">가격: {{store.price|intcomma}}원</p>
    
                    {% if store.unavailable %}
                    <p id="available">품절</p>
                    {% else %}
                    <p id="available">재고 있음</p>

                    <a href="{%url 'cart:add_cart' store.id%}">
                        <button id="btn">장바구니 담기</button>
                    </a>
                    {% endif %}
    
                    <br>
                </td>
            </tr>
            <tr>
                <td style="padding-top: 25px;">
                    <p style="font-size: 28px; font-weight:bolder">상품 상세정보</p>
                    <p style="font-size: 18px;">{{store.descriptions|linebreaksbr}}</p>
                </td>
            </tr>
    
        </table>
    </div>
</div>

{%endblock%}