{%extends 'tem.html'%}

{%block contents%}

<div align="center">

    <h2>{{storeName}} 상품 목록</h2>

    <table>
        <tr>
            <td>
                {% for product in storePost %}
                <div align="center" style="border: 1px solid black; width:500px">
                    <p>{{product.name}}</p>
                    <img src="{{product.image.url}}" width="100px" height="100px" alt="상품 사진">
                    <p>{{product.price}}</p>

                    <!-- if문으로 품절여부 표시 true->품절, false->품절아님 -->
                    {% if product.available == True %}
                    <p>품절됨</p>
                    {% else %}
                    <p>재고 있음</p>
                    {% endif %}

                    <a href="{% url 'detail_product' product.id %}">상품 상세보기</a>
                </div>
                <br>
                {% endfor %}
            </td>
        </tr>
    </table>

</div>

{%endblock%}