{%extends 'tem.html'%}

{%block head%}
<style>
    .div1 {
        padding-top: 20px;
    }

    select {
        width: 120px;
        height: 40px;
        margin-right: 15px;
        font-family: 'LotteMartDreamL';
    }

    option {
        font-size: 18px;
    }

    #default {
        font-weight: bolder;
    }

    #btn {
        width: 70px;
        height: 40px;
        font-size: 18px;
        font-weight: bolder;
        background-color: gray;
        border-radius: 8px;
        color: white;
        border: none;
        font-family: 'LotteMartDreamL';
    }

    #store {
        font-size: 30px;
        color: black;
        text-decoration: none;
    }

    .store_border {
        width: 300px;
        border: 5px solid #E74444;
        border-radius: 10px;
    }

    .hr {
        border-bottom: 1px solid #F0B9B9;
        padding-bottom: 15px;
        padding-top: 15px;
        width: 280px;
    }
</style>
{%endblock%}

{%block contents%}

<script>
    var r1;
    var r2

    function f1() {
        var province = ["서울특별시", "경기도", "경상도", "충청도", "강원도", "전라도", "제주도"];
        var c1 = ["강북구", "노원구"];
        var c2 = ["남양주시", "평택시"];
        var c3 = ["창원시 성산구", "창원시 의창구", "포항시"];
        var c4 = ["서산시", "충주시"];
        var c5 = ["춘천시","원주시"];
        var c6 = ["전주시", "목포시"];
        var c7 = ["제주시"];

        var selected = document.getElementById("s1");
        var option = selected.options[selected.selectedIndex].text;
        var city = document.getElementById("s2");
        city.options.length = 0;

        var addOption = document.createElement("option");
        addOption.text = "시/구 선택";
        city.add(addOption);

        if (option == "서울특별시") {
            r1 = "서울특별시";

            for (var i = 0; i < c1.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c1[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "경기도") {
            r1 = "경기도";

            for (var i = 0; i < c2.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c2[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "경상도") {
            r1 = "경상도";

            for (var i = 0; i < c3.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c3[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "충청도") {
            r1 = "충청도";

            for (var i = 0; i < c4.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c4[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "강원도") {
            r1 = "강원도";

            for (var i = 0; i < c5.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c5[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "전라도") {
            r1 = "전라도";

            for (var i = 0; i < c6.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c6[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        } else if (option == "제주도") {
            r1 = "제주도";

            for (var i = 0; i < c7.length; i++) {
                var addOption = document.createElement("option");
                addOption.text = c7[i];
                addOption.value = i + 1;
                city.add(addOption);
            }
        }
    }

    function f2() {
        var city = document.getElementById("s2");
        r2 = city.options[city.selectedIndex].text;

        var a1 = document.getElementById("region");

        switch (r1) {
            case "서울특별시":
                if (r2 == "노원구") {
                    a1.href = "{% url 'regionFilter' '서울특별시 노원구' %}";
                } else if (r2 == "강북구") {
                    a1.href = "{% url 'regionFilter' '서울특별시 강북구' %}";
                }
                break;

            case "경기도":
                if (r2 == "남양주시") {
                    a1.href = "{% url 'regionFilter' '경기도 남양주시' %}";
                } else if (r2 == "평택시") {
                    a1.href = "{% url 'regionFilter' '경기도 평택시' %}";
                }

                break;

            case "경상도":
                if (r2 == "창원시 성산구") {
                    a1.href = "{% url 'regionFilter' '경상도 창원시 성산구' %}";
                } else if (r2 == "창원시 의창구") {
                    a1.href = "{% url 'regionFilter' '경상도 창원시 의창구' %}";
                } else if (r2 == "포항시") {
                    a1.href = "{% url 'regionFilter' '경상도 포항시' %}";
                

                break;

        }
        //추가 o서울특별시 o경기도 ㅇ충청도 ㅇ강원도 o경상도 ㅇ전라도 ㅇㄴㄴ제주도
            case "충청도":
                if (r2 == "서산시") {
                    a1.href = "{% url 'regionFilter' '충청도 서산시' %}";
                } else if (r2 == "청주시") {
                    a1.href = "{% url 'regionFilter' '충청도 청주시' %}";
                }

                break;
        
            case "강원도":
                if (r2 == "춘천시") {
                    a1.href = "{% url 'regionFilter' '강원도 춘천시' %}";
                } else if (r2 == "원주시") {
                    a1.href = "{% url 'regionFilter' '강원도 원주시' %}";
                }

                break;

            case "전라도":
                if (r2 == "전주시") {
                    a1.href = "{% url 'regionFilter' '전라도 전주시' %}";
                } else if (r2 == "목포시") {
                    a1.href = "{% url 'regionFilter' '강원도 목포시' %}";
                }

                break;

            case "제주도":
                if (r2 == "제주시") {
                    a1.href = "{% url 'regionFilter' '제주도 제주시' %}";
                }

                break;
    }
}
</script>

<div align="center" class="div1">
    <h1 style="font-family: 'LotteMartDreamM';"><b>지점 고르기</b></h1>
    <br>

    <select name="s1" id="s1" onchange="f1()">
        <option value="" id="default">도 선택</option>
        <option value="1">서울특별시</option>
        <option value="2">경기도</option>
        <option value="3">경상도</option>
        <option value="4">충청도</option>
        <option value="5">강원도</option>
        <option value="6">전라도</option>
        <option value="7">제주도</option>
    </select>
    &nbsp;&nbsp;&nbsp;

    <select name="s2" id="s2" onchange="f2()">
        <option value="" id="default">시/구 선택</option>
    </select>

    &nbsp;&nbsp;
    <a id="region">
        <button id="btn">확인</button>
    </a>

    <br><br><br>

    {% if regionPost %}
    <div class="store_border" style="font-family: 'LotteMartDreamL';">
        {% for r in regionPost %}
        <div class="hr">
            <a id="store" href="{% url 'storeFilter' r.storeName %}">{{r.storeName}}</a><br>
        </div>
        {% endfor %}
    </div>

    {% endif %}


</div>

{%endblock%}
