{%extends 'tem.html'%}
{%block contents%}

<style>
    .align-center {
      margin: 0px auto;
    }
    .enter-room, .btn {
        border: 1px solid #ED0000;
        color: black;
        padding: 8px;
        border-radius: 15px;
        font-size: 9pt;
    }
    .wrap-btn {
        text-align: center;
        padding: 30px;
    }
    .btn {
        margin: 0px 3%;
    }
    table {
        width: 70%;
        background-color: #EEEEEE;
        text-align: center;
    }
    td {
        width: 25%;
        padding: 20px;
    }
    .td-message {
    }
    a {
        text-decoration: none;
        color: black;
    }
    @media (orientation: portrait) {
        .btn {
            display: block;
            margin: 10px auto;
            width: 30%;
            min-width: 95px;
        }
    }
</style>
    
<div class="wrap-btn">
    {% if user.is_authenticated and not user.username == "admin" %}
        <a class="btn" href="{% url 'create_room' %}">새로 만들기</a>
    {% endif %}
    <a class="btn" href="{% url 'chatbot_unread' %}">안 읽은 채팅방</a>
    <a class="btn" href="{% url 'chatbot' %}">전체 채팅방</a>
</div>

<table class="align-center">
    {% if user.is_authenticated %}
        {% for room in all_room %}
            <tr>
                {% if user.username == "admin" %}
                    <td>{{room.user}}</td>
                {% endif %}

                <td class="td-message">{{room.summary}}</td>

                <td>
                    {% if user.username == "admin"%}
                        {% if not room.admin_read %}
                            안읽음
                        {% endif %}
                    {% else %}    
                        {% if not room.user_read %}
                            안읽음
                        {% endif %}
                    {% endif %}
                </td>
            
                <td>
                    <a class="enter-room" href="{% url 'chatroom' room.id %}">들어가기</a>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
{%endblock%}