{%extends 'tem.html'%}
{%block contents%}
<style>

    * {
        font-family: 'LotteMartDreamL';
    }

    .container {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 1em;
        box-shadow: 5px 5px red;
        padding: 40px;
    }

    .container div {
        border-radius: 1em;
        border: 1px solid black;

    }

    .main {
        margin: 50px;
    }

    /* Table Area */
    .table {
        font-size: 20px;
        width: 90%;
    }

    .title {
        font-size: 30px;
        text-align: center;
        font-family: 'LotteMartDreamM';
    }

    table {
        text-align: center;
        margin: 30px auto;
        border-collapse: collapse; 
    }

    tr {
        border-bottom: 1px solid black;
    }

    th {
        text-align: center;
        background-color: rgb(53, 53, 53);
        color: white;
    }

    td {
        font-size: 0.8em;
        text-align: center;
        vertical-align: middle;
    }


    /* td>div {
        height: 90%;
        width: 100px;
        border: none;
    }

    td .btn {
        font-size: 15px;
    } */

    /* Button */
    /* .btn {
        border: 1px solid black;
        margin: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 0.5em;
        font-size: 0.5em;
        box-shadow: 3px 3px rgb(56, 56, 56);
        text-transform: uppercase;
    }

    .btn:hover {
        background-color: rgb(56, 56, 56);
        box-shadow: 3px 3px rgb(56, 56, 56);
        color: rgb(255, 255, 255);

    } */
    .btn {
        background-color:white;
        color:rgb(250, 169, 169);
        border: medium solid rgb(252, 110, 110);
    }
</style>
<div class="main">
<div class="container">
    <p class="title" style="font-size: 40px; text-align: center; margin: 10px;">🚗 드라이브 스루 예약 내역 🚕</p>
    <table class="table">
        <th width="100px">지점명</th>
        <th width="250px">픽업날짜</th>
        <th width="150px">픽업시간</th>
        <th width="300px">신청시간</th>
        <th width="200px">신청상태</th>
        <th width="150px">삭제</th>
        {% for post in posts %}
        <!-- <div style="border: 1px solid black;"> -->
        <tr height="70px">
            <td style="vertical-align: middle;">{{post.shop}}</td>
            <td style="vertical-align: middle;">{{post.pick_day}}</td>
            <td style="vertical-align: middle;">{{post.pick_date}}</td>
            <td style="vertical-align: middle;">{{post.pub_date}}</td>
            <!-- 픽업 준비 상황 (신청완료 = 0 (디폴트) / 상품준비중 = 1 / 준비완료, 픽업대기 = 2 / 픽업완료 = 3) -->
            {%if post.state == 0%}
            <td style="vertical-align: middle;">신청완료(대기중)</td>
            {%elif post.state == 1%}
            <td style="vertical-align: middle;">상품 준비중</td>
            {%elif post.state == 2%}
            <td style="vertical-align: middle;">픽업대기</td>
            {% else %}
            <td style="vertical-align: middle;">픽업완료</td>
            {% endif %}
            <td style="vertical-align: middle;"><a class="btn" href="{% url 'delete' post.id %}"> 취소 </a></td>
        </tr>
        <!-- </div> -->
        {% endfor %}
    </table>
    <!--페이지네이션-->
    <div class="pagination" style="text-align: center; padding: 10px;">
        {%if posts.has_previous%}
        <a class="btn" href="?page=1">First</a> &nbsp;
        <a class="btn" href="?page={{posts.previous_page_number}}">Previous</a> &nbsp;
        {%endif%}
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span> &nbsp;

        {%if posts.has_next%}
        <a class="btn" href="?page={{posts.next_page_number}}">Next</a>&nbsp;
        <a class="btn" href="?page={{posts.paginator.num_pages}}">Last</a>
        {%endif%}
    </div>
</div>
</div>

{%endblock%}