{%extends 'tem.html'%}
{% load humanize %}
{%block head%}
<style>
    * {
        font-family: 'LotteMartDreamL';
    }

    .container {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 1em;
        box-shadow: 5px 5px red;
        padding: 40px;
    }

    .container div {
        border-radius: 1em;
        border: 1px solid black;

    }

    .main {
        margin: 50px;
    }

    /* Table Area */
    .table {
        font-size: 20px;
        width: 90%;
    }

    .title {
        font-size: 40px;
        margin: 20px;
        text-align: center;
        font-family: 'LotteMartDreamM';
    }

    .sub_title {
        font-size: 20px;
        text-align: center;
    }

    table {
        text-align: center;
        margin: 30px auto;
        border-collapse: collapse;
    }

    tr {
        border-bottom: 1px solid black;
    }

    th {
        text-align: center;
        background-color: rgb(53, 53, 53);
        color: white;
    }

    td {
        font-size: 0.8em;
    }

    /* td>div {
        height: 90%;
        width: 100px;
        border: none;
    }

    td .btn {
        font-size: 15px;
    } */

    /* Button */
    .btn {
        border: 1px solid black;
        margin: 10px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 0.5em;
        font-size: 0.5em;
        box-shadow: 3px 3px rgb(56, 56, 56);
        text-transform: uppercase;
    }

    .btn:hover {
        background-color: rgb(56, 56, 56);
        box-shadow: 3px 3px rgb(56, 56, 56);
        color: rgb(255, 255, 255);

    }
</style>
{%endblock%}
{%block contents%}
<div class="main">
    <div class="container">
        <p class="title">🚗 드라이브 스루 신청하기 🚗</p>
        <p class="sub_title">주문한 상품 목록을 확인하고 픽업시간과 픽업받을 지점을 선택해주세요</p>
        <table class="table">
            <th>상품명</th>
            <th>지점명</th>
            <th>가격</th>
            <th>개수</th>
            {% for cart_item in cart_items %}
            <tr>
                <td>{{cart_item.product.name}}</td>
                <td>{{cart_item.product.storeName}}</td>
                <td>{{cart_item.product.price|intcomma}}원</td>
                <td>{{cart_item.quantity}}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table">
            <th>총금액</th>
            <th>지점 선택</th>
            <th>픽업 날짜</th>
            <th>픽업 시간</th>
            <th>신청</th>
            <tr>
                <td>
                    {{total|intcomma}} 원
                </td>
                <form action="{% url 'create' %}" method="post">
                    {%csrf_token%}
                    <td>
                        {% for cart_item in cart_items %}
                        <input type="radio" id="shop" name="shop" value="{{cart_item.product.storeName}}">
                        <label for="male">{{cart_item.product.storeName}}</label><br>
                        {% endfor %}
                    </td>
                    <td>
                        <p><input type="date" name="date"></p>
                    </td>
                    <td>
                        <p><input type="time" name="time"></p>
                    </td>
                    <td>
                        <p><input class="btn" type="submit" value="신청"></p>
                    </td>
                </form>
            </tr>
        </table>
    </div>
</div>


{%endblock%}