{%extends 'tem.html'%}

{%block contents%}
<h2>{{post.title}}</h2>
<p>{{post.description}}</p>
<img src="{{post.image.url}}" alt="신제품" width="300px">

{%for apply in post.apply_set.all %}
{%if user == apply.author%}
    <h4>💗{{apply.author}}</h4>
    <p>지점명: {{apply.store_name}}</p>
    <p>가져갈 시간: {{apply.date_time}}</p>
    <p>신청 동기: {{apply.content}}</p>

    <a href="{% url 'deleteApply' post.id apply.id %}">삭제</a>

{%else%}
다른 고객님의 신청글입니다.
    

{%endif%}
    <hr>
    
{%endfor%}
<form method="POST" action="{% url 'createApply' post.id%}">
    <table>
        {% csrf_token %}
        {{apply_form.as_table}}
        <input type="submit" value="제출">
    </table>
</form>

{%endblock%}