{%extends 'tem.html'%}
{%load static%}

{%block css%}
<style>
    body {
    background-color: #EAEAEA;
}

.news {
    width: 70%;
    border-radius: 10px;
    background-color: white;
   
}



</style>
{%endblock%}

{%block contents%}
<center>
<h1>롯데푸드의 신제품 시식단이 되어주세요!</h1>
<p>댓글을 통해 신청할 수 있습니다.</p><br>
<hr/><br>
<div class="news">
{%for new in news%}
<div class="new" onclick="location.href='/newProduct/{{new.id}}'">
    <div class="new-d">
    <img class="new_thum" src="{{new.image_thumnail.url}}" alt="썸네일">
    <h3 class="title">{{new.title}}</h3>
</div>
</div>
<hr>  
{%endfor%}
</div>
</center>
{%endblock%}