{%extends 'tem.html'%}
{%load static%}

{%block head%}
<style>
    body {background-color:#EAEAEA;}

    .news {
        width: 70%;
    }

    .posts{border-top: #BDBDBD solid 1px;}

    .new-d {
        min-height: 80px;
        text-align: center;
        border-bottom: #BDBDBD solid 1px;
    }

    .new_thum {
        margin-top: 20px;
    }
    
    .page {float: left;}

    .new{ transition:1s; }

    .new:hover {
        background-color: #EAEAEA;
        cursor: pointer;
        }


    .new_slo_box {
        margin: 50px;
    }
</style>
{%endblock%}

{%block contents%}
<center>
    <div class="new_slo_box"><h1 class="new_slogan">신제품 시식, 시음 신청</h1></div>
    <p>댓글을 통해 신청할 수 있습니다.</p><br>
    
    <div class="news">
        <h4 class="page">
        {{posts.number}} of {{posts.paginator.num_pages}}
        </h4><br><br>
        <div class="posts">
        {%for new in news%}
        
        <div class="new" onclick="location.href='/newProduct/{{new.id}}'">
            <div class="new-d">
                <img class="new_thum" src="{{new.image_thumnail.url}}" alt="썸네일">
                <h3 class="title">{{new.title}}</h3><br>
            </div>
        </div>
        {%endfor%}
    </div>
        {%if posts.has_previous%}
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {%elif posts.has_next%}
        <a href="?page={{posts.next_page_number}}">Next</a>
        {%endif%}
    </div>
</center>
{%endblock%}