{%extends 'tem.html'%}
{% load humanize %}
{%block contents%}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<style>
    * {
        font-family: 'LotteMartDreamL';
    }
    
    .my_custom_thread {
        font-weight:normal;
        text-transform:uppercase;
        letter-spacing:.2em;
        background-color:#f8f9fa !important;
    }

    .custom_image {
        width:130px;
        height:100px;
    }

    .custom_icon {
        text-decoration:none;
        color:#868e96 !important;
    }

    .my_custom_button {
        margin-top: 5px;
        background-color:white;
        border : medium solid rgb(252, 110, 110); 
        color : rgb(250, 169, 169);
        width: 400px;
    }
</style>

</head>


<body>
{%if not cart_items%}
    <div>
        <div class="text-center">
            <br><h1 class="text-center my_title">장바구니가 비어있습니다.</h1><br>
            <p class="text-center">계속 쇼핑하시려면 <a href="{%url 'shop:allProdCat'%}">여기</a>를 클릭해주세요.</p>
        </div>
    </div>
{%else%}
    <div>
        <div class="text_center">
            <br><h1 class="text-center my_title">장바구니 목록</h1><br>
        </div>
    </div>
    <div class="container">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr><th colspan="5">상품 목록</th></tr>
                </thread>
                <tbody>
                    {%for cart_item in cart_items%}
                        <tr>
                            <td>
                                <a href="{{cart_item.product.get_url}}"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
                            </td>
                            <td class="text-left">
                                <p style="font-weight:bold;">{{cart_item.product.name}}</p>
                                개당 가격 : {{cart_item.product.price|intcomma}}원<br>
                                총금액 : {{cart_item.quantity}} x {{cart_item.product.price|intcomma}}원<br><br>
                                {%if cart_item.drive%}
                                    <p>드라이브쓰루 신청됨</p>
                                {%else%}
                                    <p>드라이브쓰루 신청X</p>
                                {%endif%}
                            </td>
                            <td>
                                {{cart_item.sub_total|intcomma}}원
                            </td>
                            {%if cart_item.quantity <= cart_item.product.stock%}
                                <td>
                                    <a href="{%url 'cart:add_cart' cart_item.product.id%}" class="custom_a">
                                        <i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:cart_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:full_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                </td>
                            {%else%}
                                <td>
                                    &nbsp;<a href="{%url 'cart:cart_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:full_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                </td>
                                <td></td>
                            {%endif%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th>드라이브쓰루 신청</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td style="padding:30px 0;">드라이브쓰루는 현장 결제 시스템입니다.<br>주문한 상품을 수령하기 전 현장 결제를 진행해주시기 바랍니다.</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            총금액 : <strong>{{total|intcomma}}원</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto">
                <button type="button" class="btn btn-outline-danger my_custom_button" onclick="location.href='/select/'">쇼핑 계속하기</button>
                <button type="button" class="btn btn-outline-danger my_custom_button" onclick="location.href='/new/'">드라이브스루 신청하기</button>
        </div>
    </div>
    <br>
{%endif%}
</body>
</html>
{%endblock%}