{%extends 'tem.html'%}
{% load humanize %}
{%block contents%}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<style>
    .my_customer_table {
        min-width:400px;
        font-size:14px;
    }

    .my_custom_thread {
        font-weight:normal;
        text-transform:uppercase;
        letter-spacing:.2em;
        background-color:#f8f9fa !important;
    }

    .custom_image {
        width:100px;
        height:100px;
    }

    .custom_a {
        text-decoration:none;
    }

    .custom_icon {
        text-decoration:none;
        color:#868e96 !important;
    }

    .my_custom_button {
        margin-top: 5px;
    }


</style>

</head>


<body>
{%if not cart_items%}
    <div>
        <div class="text-center">
            <br><h1 class="text-center my_title">장바구니가 비어있습니다.</h1><br>
            <p class="text-center">계속 쇼핑하시려면 <a href="{%url 'shop:allProdCat'%}">여기</a>를 클릭해주세요.</p>
        </div>
    </div>
{%else%}
    <div>
        <div class="text_center">
            <br><h1 class="text-center my_title">장바구니입니다.</h1><br>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr><th colspan="5">장바구니 목록</th></tr>
                </thread>
                <tbody>
                    {%for cart_item in cart_items%}
                        <tr>
                            <td>
                                <a href="{{cart_item.product.get_url}}"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image"></a>
                            </td>
                            <td class="text-left">
                                <p style="font-weight:bold;">{{cart_item.product.name}}</p>
                                개당 가격 : {{cart_item.product.price|intcomma}}원<br>
                                총금액 : {{cart_item.quantity}} x {{cart_item.product.price|intcomma}}원
                            </td>
                            <td>
                                {{cart_item.sub_total|intcomma}}원
                            </td>
                            {%if cart_item.quantity <= cart_item.product.stock%}
                                <td>
                                    <a href="{%url 'cart:add_cart' cart_item.product.id%}" class="custom_a">
                                        <i class="fas fa-plus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:cart_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:full_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                </td>
                            {%else%}
                                <td>
                                    &nbsp;<a href="{%url 'cart:cart_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-minus-circle custom_icon"></i></a>&nbsp;
                                    <a href="{%url 'cart:full_remove' cart_item.product.id%}" class="custom_a"><i class="fas fa-trash-alt custom_icon"></i></a>
                                </td>
                                <td></td>
                            {%endif%}
                        </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th>주문 및 결제</th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>결제를 진행하기 전 장바구니 항목을 검토해주세요.</td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            총금액 : <strong>{{total|intcomma}}원</strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto">
                <a href="{%url 'shop:allProdCat'%}" class="btn btn-secondary btn-block my_custom_button">쇼핑 계속하기</a>
                <a href="{% url 'new' %}" class="btn btn-secondary btn-block my_custom_button">드라이브 스루 신청하기</a>
            </div>
        </div>
    </div>
    <br>
{%endif%}
</body>
</html>
{%endblock%}