{%extends 'tem.html'%}
{% load humanize %}

{%block head%}
<style>
    #pro_name {
        font-size: 28px;
        color: black;
    }

    #price {
        margin-top: 15px;
        font-size: 20px;
    }

    .btn {
        background-color:white;
        color:rgb(250, 169, 169);
        border: medium solid rgb(252, 110, 110);
    }
</style>
{%endblock%}

{%block contents%}
<div align="center">
    {%if category%}
    <h2 style="margin-top:50px; font-family: 'LotteMartDreamB';"><b>{{category.name}}</b></h2>
    {%endif%}
    
    <table>
        {%for product in prodPage%}
        <tr style="border-bottom: 2px dashed #E88B8B;">
            <td style="padding: 40px">
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" width="300px" height="200px" alt="상품 사진"></a>
            </td>
            <td style="padding:0 50px;">
                <b style="color: gray; font-family: 'LotteMartDreamM';">{{product.storeName}} &nbsp;<p id="pro_name">{{product.name}}</p></b>
                <p id="price" style="font-family: 'LotteMartDreamL';">{{product.price|intcomma}}원</p>
                <p style="font-family: 'LotteMartDreamL';">{{product.summary|linebreaksbr}} ...</p>

                {% if product.unavailable %}
                <p id="available" style="color:red; font-family: 'LotteMartDreamL';">품절</p>
                {% else %}
                <p id="available" style="color:red; font-family: 'LotteMartDreamL';">재고 있음</p>
                {% endif %}
            </td>
        </tr>
        {%endfor%}

    </table>
</div>


<div align="center" style="padding: 20px 0px; font-family: 'LotteMartDreamL';">
    {% if prodPage.has_previous %}
    <a class="btn" href="?page=1">First</a>
    <a class="btn" href="?page={{prodPage.previous_page_number}}" style="margin-right:10px;">Previous</a>
    {% endif %}

    <span>{{prodPage.number}}</span>
    <span>of</span>
    <span>{{prodPage.paginator.num_pages}}</span>

    {% if prodPage.has_next %}
    <a class="btn" href="?page={{prodPage.next_page_number}}" style="margin-left:10px;">Next</a>&nbsp;
    <a class="btn" href="?page={{prodPage.paginator.num_pages}}">Last</a>
    {% endif %}
</div>

{%endblock%}